*{
    padding: 0;
    margin: 0;
    border: 0;
}

.workbench-container {
    display:block;
    grid-template-rows: auto ;
    grid-template-columns:200px auto;
  
    background-color: rgb(194, 194, 194);
    border: 0px solid black;
    min-height: 100vh;
    margin: 0% 5% 0% 0%;
    background: url(table.png) no-repeat;
    
    
    
}

.container {
   
    margin-left: 0px;
    padding-right: 0 ;
}

.row {
    height: 100vh;
}

.HelloPage {
   
}



